body{
    margin: 0 auto;
    text-align: center;
}

#calcMain {
    display: grid;
    grid-template-rows: 62px 1fr;
    margin: 0 auto;
    margin-top: 55px;
    background: #2d2d2d;
    width: 500px;
    height: 300px;
    border: solid 1px #cfcfcf;
    border-radius: 5px;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
}

input#resultado {
    margin-top: 8px;
    padding-left: 4px;
    width: 98%;
    height: 68%;
    border: none;
    border-radius: 3px;
    background: rgba(255,255,255,0.9);
    color: #000;
    font-weight: bold;
    font-size: 22px;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.122);

}

#baixo {
    display: grid;
    grid-template-columns: 0.98fr 32px;
}

button {
    border-radius: 6px;
    border: 1px solid #424242;
    background: #ccc;
    font-weight: bold;
    font-size: 18px;
}

button[name="equal"] {
    background: orange;
}

button[name="sub"], button[name="soma"], button[name="multi"], button[name="divisao"] {
    background: darkseagreen;
}

.numeros {
    margin: 0 auto;
    display: grid;
    width: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.operadores {
    display: grid;
    margin: 0 auto;
    width: 41px;
}